<div class="row">
  <div class="col-lg-12 h-100">
    <nb-card>
      <nb-card-header>Basic form</nb-card-header>
      <nb-card-body>
        <form [formGroup]="productForm" (ngSubmit)="productDetailsFunction()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="productName" class="label">Product name</label>
            <input type="text" nbInput fullWidth id="productName" name="productName" formControlName="productName"
              placeholder="T-Shirt">
          </div>

          <!-- Table -->
          <div>
            <table class="table table-bordered text-white">
              <thead>
                <tr>
                  <th scope="col">Color</th>
                  <th scope="col">Size</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <nb-select placeholder="Select color" formControlName="colorSelected" class="w-100">
                      <nb-option *ngFor="let color of allColors" [value]="color?.id">{{color?.name}}</nb-option>
                    </nb-select>
                  </td>
                  <td>
                    <nb-select placeholder="Select size" formControlName="sizeSelected" class="w-100">
                      <nb-option *ngFor="let size of allSizes" [value]="size?.id">{{size?.name}}</nb-option>

                    </nb-select>
                  </td>
                  <td>
                    <input type="number" nbInput fullWidth formControlName="quantity" id="quantity" name="quantity"
                      placeholder="12">
                  </td>
                  <td>
                    <button type="button" nbButton status="success" class="text-center w-100"
                      (click)="addConfig()">Add</button>
                  </td>
                </tr>

                <!-- Display selected configs -->
                <tr *ngFor="let config of configsSelected; index as i">
                  <td scope="row">
                    <nb-select [selected]="config.color" placeholder="Color" class="w-100">
                      <nb-option *ngFor="let color of allColors" [value]="color?.id">{{color?.name}}</nb-option>
                    </nb-select>
                  </td>
                  <td>
                    <nb-select [selected]="config.size" placeholder="Size" class="w-100">
                      <nb-option *ngFor="let size of allSizes" [value]="size?.id">{{size?.name}}</nb-option>
                    </nb-select>
                  </td>
                  <td>{{config.quantity}}</td>
                  <td><button [id]="i" type="button" nbButton status="danger" class="text-center w-100"
                      (click)="removeConfig($event)">Remove</button></td>
                </tr>
                <!-- End display selected configs -->

              </tbody>
            </table>
          </div>

          <!-- End of table -->

          <!-- dropzone -->
          <div class="mb-3">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Drop here</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)" [expandable]="true">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <!-- end of dropzone -->

          <div class="form-group">
            <nb-toggle [(checked)]="activate"><span class="h6">Activate</span></nb-toggle>
          </div>

          <button type="submit" nbButton status="primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
